<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>26250.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.306}</string>
			<key>url</key>
			<string>26247.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.140625,0.45}</string>
			<key>url</key>
			<string>26257.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.390375,0.45}</string>
			<key>url</key>
			<string>26249.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.17325000000000002}</string>
			<key>url</key>
			<string>26253.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>26251.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.430875,0.45}</string>
			<key>url</key>
			<string>26252.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.158625,0.45}</string>
			<key>url</key>
			<string>26248.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.163125,0.45}</string>
			<key>url</key>
			<string>26255.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.399375}</string>
			<key>url</key>
			<string>26246.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.37575000000000003}</string>
			<key>url</key>
			<string>26256.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.311625,0.45}</string>
			<key>url</key>
			<string>26254.png</string>
		</dict>
	</array>
	<key>product_id</key>
	<string>com.cardinalblue.PicCollage.eidaladha</string>
	<key>promotion_info</key>
	<dict>
		<key>promotion_id</key>
		<string>eidaladha_stickerbanner</string>
		<key>banner_url</key>
		<string>https://cdn.pic-collage.com/bundles/stickers_v2/eidaladha/banner.png</string>
	</dict>
	<key>thumbnail</key>
	<string>https://cdn.pic-collage.com/bundles/stickers_v2/eidaladha/icon.png</string>
	<key>title</key>
	<string>Eid Al Adha</string>
	<key>description</key>
	<string>From Creative Market</string>
	<key>subscription_free</key>
	<false/>
	<key>get_by_purchase</key>
	<false/>
	<key>get_by_subscription</key>
	<false/>
</dict>
</plist>
