<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.199125}</string>
			<key>url</key>
			<string>7609.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.35550000000000004,0.45}</string>
			<key>url</key>
			<string>7610.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.1665}</string>
			<key>url</key>
			<string>7611.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.24975000000000003,0.45}</string>
			<key>url</key>
			<string>7612.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>7613.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.37125}</string>
			<key>url</key>
			<string>7614.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>7615.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>7616.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.29475}</string>
			<key>url</key>
			<string>7617.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.24300000000000002,0.45}</string>
			<key>url</key>
			<string>7618.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>7619.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.273375}</string>
			<key>url</key>
			<string>7620.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.20249999999999999}</string>
			<key>url</key>
			<string>7621.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.295875}</string>
			<key>url</key>
			<string>7622.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.271125}</string>
			<key>url</key>
			<string>7623.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.20249999999999999}</string>
			<key>url</key>
			<string>7624.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.448875}</string>
			<key>url</key>
			<string>7625.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.196875,0.45}</string>
			<key>url</key>
			<string>7626.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.286875}</string>
			<key>url</key>
			<string>7627.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.291375,0.45}</string>
			<key>url</key>
			<string>7628.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.327375}</string>
			<key>url</key>
			<string>7629.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.34087500000000004}</string>
			<key>url</key>
			<string>7630.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.216,0.45}</string>
			<key>url</key>
			<string>7631.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.2745}</string>
			<key>url</key>
			<string>7632.png</string>
		</dict>
	</array>
	<key>product_id</key>
	<string>com.cardinalblue.PicCollage.summervibes</string>
	<key>promotion_info</key>
	<dict>
		<key>click_url</key>
		<string>https://www.behance.net/jlin10b616</string>
		<key>banner_url</key>
		<string>https://cdn.pic-collage.com/bundles/stickers_v2/summervibes/banner.png</string>
		<key>promotion_id</key>
		<string>summervibes_stickerbanner</string>
	</dict>
	<key>thumbnail</key>
	<string>https://cdn.pic-collage.com/bundles/stickers_v2/summervibes/icon.png</string>
	<key>title</key>
	<string>Summer Vibes</string>
	<key>description</key>
	<string>Designed by Hiraeth</string>
	<key>translations</key>
	<dict>
		<key>title</key>
		<dict>
			<key>es</key>
			<string>El verano llegó</string>
			<key>ja</key>
			<string>夏ノリ</string>
			<key>zh-Hans</key>
			<string>缤纷一夏趣</string>
			<key>zh-Hant</key>
			<string>繽紛一夏趣</string>
			<key>zh-rTW</key>
			<string>繽紛一夏趣</string>
			<key>zh-rCN</key>
			<string>缤纷一夏趣</string>
		</dict>
	</dict>
	<key>subscription_free</key>
	<false/>
	<key>get_by_purchase</key>
	<false/>
	<key>get_by_subscription</key>
	<false/>
</dict>
</plist>
