<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>reference_size</key>
			<string>{0.432,0.45}</string>
			<key>url</key>
			<string>19007.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.2925}</string>
			<key>url</key>
			<string>19006.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.42412500000000003,0.45}</string>
			<key>url</key>
			<string>19019.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.42975}</string>
			<key>url</key>
			<string>19013.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.42525}</string>
			<key>url</key>
			<string>19002.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.3735,0.45}</string>
			<key>url</key>
			<string>18998.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.25875000000000004}</string>
			<key>url</key>
			<string>19001.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.399375}</string>
			<key>url</key>
			<string>19017.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.43537500000000007}</string>
			<key>url</key>
			<string>19004.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.36225}</string>
			<key>url</key>
			<string>19008.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.4455,0.45}</string>
			<key>url</key>
			<string>19015.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.4005,0.45}</string>
			<key>url</key>
			<string>19000.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.367875}</string>
			<key>url</key>
			<string>19003.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.397125}</string>
			<key>url</key>
			<string>19005.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.25875,0.45}</string>
			<key>url</key>
			<string>19021.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.39599999999999996}</string>
			<key>url</key>
			<string>19011.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.401625,0.45}</string>
			<key>url</key>
			<string>19009.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.394875}</string>
			<key>url</key>
			<string>19018.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.43312500000000004}</string>
			<key>url</key>
			<string>19016.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.397125,0.45}</string>
			<key>url</key>
			<string>19014.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.40275000000000005}</string>
			<key>url</key>
			<string>18999.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.37462500000000004,0.45}</string>
			<key>url</key>
			<string>19012.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.40275000000000005}</string>
			<key>url</key>
			<string>19010.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.412875}</string>
			<key>url</key>
			<string>19020.png</string>
		</dict>
	</array>
	<key>product_id</key>
	<string>com.cardinalblue.PicCollage.brave</string>
	<key>promotion_info</key>
	<dict>
		<key>promotion_id</key>
		<string>brave_stickerbanner</string>
		<key>click_url</key>
		<string>https://illustration.lindeneller.com</string>
		<key>banner_url</key>
		<string>https://cdn.pic-collage.com/bundles/stickers_v2/brave/banner.png</string>
	</dict>
	<key>thumbnail</key>
	<string>https://cdn.pic-collage.com/bundles/stickers_v2/brave/icon.png</string>
	<key>title</key>
	<string>Brave</string>
	<key>description</key>
	<string>Designed by Linden Eller</string>
	<key>subscription_free</key>
	<false/>
	<key>get_by_purchase</key>
	<false/>
	<key>get_by_subscription</key>
	<false/>
</dict>
</plist>
