<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>reference_size</key>
			<string>{0.36562500000000003,0.45}</string>
			<key>url</key>
			<string>11298.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.38475000000000004}</string>
			<key>url</key>
			<string>11299.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.29362499999999997,0.45}</string>
			<key>url</key>
			<string>11300.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.378,0.45}</string>
			<key>url</key>
			<string>11301.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.448875,0.45}</string>
			<key>url</key>
			<string>11302.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.421875,0.45}</string>
			<key>url</key>
			<string>11303.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.23399999999999999}</string>
			<key>url</key>
			<string>11304.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.333,0.45}</string>
			<key>url</key>
			<string>11305.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.356625,0.45}</string>
			<key>url</key>
			<string>11306.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.280125}</string>
			<key>url</key>
			<string>11307.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.3555}</string>
			<key>url</key>
			<string>11308.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.2295}</string>
			<key>url</key>
			<string>11309.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11310.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.29700000000000004,0.45}</string>
			<key>url</key>
			<string>11311.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.4455,0.45}</string>
			<key>url</key>
			<string>11312.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.24525}</string>
			<key>url</key>
			<string>11313.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.280125}</string>
			<key>url</key>
			<string>11314.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.16087500000000002}</string>
			<key>url</key>
			<string>11315.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.40950000000000003,0.45}</string>
			<key>url</key>
			<string>11316.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.172125}</string>
			<key>url</key>
			<string>11317.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.1485}</string>
			<key>url</key>
			<string>11318.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.26887500000000003}</string>
			<key>url</key>
			<string>11319.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.291375}</string>
			<key>url</key>
			<string>11320.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.44437499999999996}</string>
			<key>url</key>
			<string>11321.png</string>
		</dict>
	</array>
	<key>product_id</key>
	<string>com.cardinalblue.PicCollage.wanderexplorediscover</string>
	<key>promotion_info</key>
	<dict>
		<key>banner_url</key>
		<string>https://cdn.pic-collage.com/bundles/stickers_v2/wanderexplorediscover/banner.png</string>
		<key>click_url</key>
		<string>app:/sticker_store/com.cardinalblue.PicCollage.wanderexplorediscover</string>
	</dict>
	<key>thumbnail</key>
	<string>https://cdn.pic-collage.com/bundles/stickers_v2/wanderexplorediscover/icon.png</string>
	<key>title</key>
	<string>Wander, Explore, Discover</string>
	<key>translations</key>
	<dict>
		<key>title</key>
		<dict>
			<key>es</key>
			<string>La aventura llama</string>
		</dict>
	</dict>
	<key>subscription_free</key>
	<false/>
	<key>get_by_purchase</key>
	<false/>
	<key>get_by_subscription</key>
	<false/>
</dict>
</plist>
