<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11614.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11615.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11616.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11617.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11618.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11619.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11620.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11621.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11622.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11623.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11624.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11625.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11626.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11627.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11628.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11629.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11630.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11631.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11632.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11633.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11634.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11635.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11636.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>11637.png</string>
		</dict>
	</array>
	<key>product_id</key>
	<string>com.cardinalblue.PicCollage.summertrip</string>
	<key>promotion_info</key>
	<dict>
		<key>banner_url</key>
		<string>https://cdn.pic-collage.com/bundles/stickers_v2/summertrip/banner.png</string>
		<key>promotion_id</key>
		<string>summertrip_stickerbanner</string>
	</dict>
	<key>thumbnail</key>
	<string>https://cdn.pic-collage.com/bundles/stickers_v2/summertrip/icon.png</string>
	<key>title</key>
	<string>Summer Trip</string>
	<key>translations</key>
	<dict>
		<key>title</key>
		<dict>
			<key>ja</key>
			<string>夏の旅行🏖</string>
		</dict>
	</dict>
	<key>subscription_free</key>
	<false/>
	<key>get_by_purchase</key>
	<false/>
	<key>get_by_subscription</key>
	<false/>
</dict>
</plist>
