<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.37012500000000004}</string>
			<key>url</key>
			<string>15199.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.442125}</string>
			<key>url</key>
			<string>15186.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.41400000000000003,0.45}</string>
			<key>url</key>
			<string>15188.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.43650000000000005}</string>
			<key>url</key>
			<string>15187.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.309375}</string>
			<key>url</key>
			<string>15185.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.35325,0.45}</string>
			<key>url</key>
			<string>15200.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.210375}</string>
			<key>url</key>
			<string>15189.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.387,0.45}</string>
			<key>url</key>
			<string>15198.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.23625000000000002,0.45}</string>
			<key>url</key>
			<string>15197.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.21712499999999998,0.45}</string>
			<key>url</key>
			<string>15181.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.33637500000000004,0.45}</string>
			<key>url</key>
			<string>15195.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.244125,0.45}</string>
			<key>url</key>
			<string>15192.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.4095}</string>
			<key>url</key>
			<string>15184.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.322875,0.45}</string>
			<key>url</key>
			<string>15194.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.34650000000000003,0.45}</string>
			<key>url</key>
			<string>15191.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.264375,0.45}</string>
			<key>url</key>
			<string>15193.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.30262500000000003}</string>
			<key>url</key>
			<string>15183.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.432}</string>
			<key>url</key>
			<string>15196.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.45}</string>
			<key>url</key>
			<string>15190.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.30712500000000004}</string>
			<key>url</key>
			<string>15182.png</string>
		</dict>
	</array>
	<key>product_id</key>
	<string>com.cardinalblue.PicCollage.loveislove</string>
	<key>promotion_info</key>
	<dict>
		<key>promotion_id</key>
		<string>loveislove_stickerbanner</string>
		<key>banner_url</key>
		<string>https://cdn.pic-collage.com/bundles/stickers_v2/loveislove/banner.png</string>
	</dict>
	<key>thumbnail</key>
	<string>https://cdn.pic-collage.com/bundles/stickers_v2/loveislove/icon.png</string>
	<key>title</key>
	<string>Love is Love</string>
	<key>subscription_free</key>
	<false/>
	<key>get_by_purchase</key>
	<false/>
	<key>get_by_subscription</key>
	<false/>
</dict>
</plist>
