<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.2205}</string>
			<key>url</key>
			<string>15364.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.210375}</string>
			<key>url</key>
			<string>15356.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.162}</string>
			<key>url</key>
			<string>15382.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.20925000000000002}</string>
			<key>url</key>
			<string>15354.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.216}</string>
			<key>url</key>
			<string>15378.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.176625}</string>
			<key>url</key>
			<string>15352.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.140625}</string>
			<key>url</key>
			<string>15357.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.257625}</string>
			<key>url</key>
			<string>15381.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.23625000000000002}</string>
			<key>url</key>
			<string>15370.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.13275}</string>
			<key>url</key>
			<string>15367.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.41737500000000005}</string>
			<key>url</key>
			<string>15376.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.093375}</string>
			<key>url</key>
			<string>15358.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.151875}</string>
			<key>url</key>
			<string>15361.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.20925000000000002}</string>
			<key>url</key>
			<string>15365.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.12825}</string>
			<key>url</key>
			<string>15369.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.30712500000000004}</string>
			<key>url</key>
			<string>15379.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.1305}</string>
			<key>url</key>
			<string>15371.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.14175000000000001}</string>
			<key>url</key>
			<string>15380.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.2205}</string>
			<key>url</key>
			<string>15359.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.11812500000000001}</string>
			<key>url</key>
			<string>15386.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.3015}</string>
			<key>url</key>
			<string>15353.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.28575,0.45}</string>
			<key>url</key>
			<string>15355.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.39262500000000006}</string>
			<key>url</key>
			<string>15351.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.42524999999999996,0.45}</string>
			<key>url</key>
			<string>15368.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.261}</string>
			<key>url</key>
			<string>15366.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.309375}</string>
			<key>url</key>
			<string>15383.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.2655}</string>
			<key>url</key>
			<string>15375.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.295875}</string>
			<key>url</key>
			<string>15384.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.225}</string>
			<key>url</key>
			<string>15360.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.23175}</string>
			<key>url</key>
			<string>15373.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.243}</string>
			<key>url</key>
			<string>15372.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.246375}</string>
			<key>url</key>
			<string>15385.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.124875}</string>
			<key>url</key>
			<string>15363.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.43762500000000004,0.45}</string>
			<key>url</key>
			<string>15377.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.42862500000000003,0.45}</string>
			<key>url</key>
			<string>15374.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.34425}</string>
			<key>url</key>
			<string>15362.png</string>
		</dict>
	</array>
	<key>product_id</key>
	<string>com.cardinalblue.PicCollage.greetings</string>
	<key>promotion_info</key>
	<dict>
		<key>promotion_id</key>
		<string>greetings_stickerbanner</string>
		<key>banner_url</key>
		<string>https://cdn.pic-collage.com/bundles/stickers_v2/greetings/banner.png</string>
	</dict>
	<key>thumbnail</key>
	<string>https://cdn.pic-collage.com/bundles/stickers_v2/greetings/icon.png</string>
	<key>title</key>
	<string>Greetings!</string>
	<key>subscription_free</key>
	<false/>
	<key>get_by_purchase</key>
	<false/>
	<key>get_by_subscription</key>
	<false/>
</dict>
</plist>
