<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>reference_size</key>
			<string>{0.444375,0.45}</string>
			<key>url</key>
			<string>25857.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.14400000000000002}</string>
			<key>url</key>
			<string>25869.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.40275000000000005}</string>
			<key>url</key>
			<string>25859.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.3285,0.45}</string>
			<key>url</key>
			<string>25855.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.28462499999999996,0.45}</string>
			<key>url</key>
			<string>25861.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.34199999999999997}</string>
			<key>url</key>
			<string>25856.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.255375,0.45}</string>
			<key>url</key>
			<string>25858.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.44437499999999996}</string>
			<key>url</key>
			<string>25876.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.383625}</string>
			<key>url</key>
			<string>25866.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.325125,0.45}</string>
			<key>url</key>
			<string>25871.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.41625,0.45}</string>
			<key>url</key>
			<string>25865.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.29362499999999997,0.45}</string>
			<key>url</key>
			<string>25860.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.1305}</string>
			<key>url</key>
			<string>25862.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.131625,0.45}</string>
			<key>url</key>
			<string>25874.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.261,0.45}</string>
			<key>url</key>
			<string>25868.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.10575000000000001}</string>
			<key>url</key>
			<string>25873.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.27337500000000003,0.45}</string>
			<key>url</key>
			<string>25867.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.363375,0.45}</string>
			<key>url</key>
			<string>25875.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.446625}</string>
			<key>url</key>
			<string>25872.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.11699999999999999}</string>
			<key>url</key>
			<string>25877.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.351}</string>
			<key>url</key>
			<string>25854.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.441,0.45}</string>
			<key>url</key>
			<string>25864.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.300375,0.45}</string>
			<key>url</key>
			<string>25870.png</string>
		</dict>
		<dict>
			<key>reference_size</key>
			<string>{0.45,0.28350000000000003}</string>
			<key>url</key>
			<string>25863.png</string>
		</dict>
	</array>
	<key>product_id</key>
	<string>com.cardinalblue.PicCollage.partyessentials</string>
	<key>promotion_info</key>
	<dict>
		<key>promotion_id</key>
		<string>partyessentials_stickerbanner</string>
		<key>banner_url</key>
		<string>https://cdn.pic-collage.com/bundles/stickers_v2/partyessentials/banner.png</string>
	</dict>
	<key>preview_appearance</key>
	<dict>
		<key>background_color</key>
		<string>#FFFAEA</string>
	</dict>
	<key>thumbnail</key>
	<string>https://cdn.pic-collage.com/bundles/stickers_v2/partyessentials/icon.png</string>
	<key>title</key>
	<string>PicCollage 10th Birthday Kit</string>
	<key>description</key>
	<string>Designed by Chihjou Kung</string>
	<key>subscription_free</key>
	<false/>
	<key>get_by_purchase</key>
	<false/>
	<key>get_by_subscription</key>
	<false/>
</dict>
</plist>
